/*
==============================================
 FORM styles
==============================================
*/
form {
    font-size: var(--font-size);
    line-height: var(--input-field-line-height);
}
input,
select,
textarea {
    color: var(--ipnut-field-color);
    font-size: var(--font-size);
    line-height: var(--input-field-line-height);
}


/* ---------------- Input fields
*/
input {
    margin: 0;
}
input[type="email"],
input[type="file"],
input[type="image"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input[type="tel"],
input[type="range"],
input[type="number"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="color"],
select,
textarea {
    /*width: 100%;*/
    /*display: block;*/
    padding: 5px 6px;
    border: 1px solid var(--input-field-border-color);
    border-radius: var(--input-field-border-radius);
    background: #fff;
}
input.size-small {
    width: 100px;
}

input[type="email"]:disabled,
input[type="file"]:disabled,
input[type="image"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled,
input[type="range"]:disabled,
input[type="number"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="color"]:disabled,
select:disabled,
textarea:disabled {
    background: #e0e0e0;
}

input[type="email"]:focus,
input[type="file"]:focus,
input[type="image"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    border-color: #1c1c1c;
    /*box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);*/
    background: #fff;
}

textarea {
    /*display: block;*/
    resize: vertical;
    height: 90px;
}

textarea[rows] {
    /*height: auto;*/
}

/* Input placeholder
*/
::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
}

/* Select/option dropdowns
*/
select {
    border-radius: 0;
}

select,
input[type="file"] {
    height: auto;
}

.input[readonly] {
    border-style: dotted;
    cursor: not-allowed;

    color: #777;
}

.input[disabled] {
    border-color: #ccc;
    cursor: not-allowed;
    background: #eee;
}

.input[invalid] {
    box-shadow: 0 0 0 3px rgba(255, 12, 83, 0.2);
}


/* ---------------- Forms - Buttons
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 5px 25px 5px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    transition: var(--transition);
    background: var(--button-background);

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--button-color);
    font-weight: var(--button-font-weight);
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
a.button:hover {
    cursor: pointer;
    background: var(--button-background-hover);

    color: var(--button-color-hover);
    text-decoration: none;
}

input[type="submit"].outlined,
input[type="reset"].outlined,
input[type="button"].outlined,
button.outlined,
a.button.outlined {
    color: var(--button-outlined-color);
    background: var(--button-outlined-background);
    border-color: var(--button-outlined-border-color);
}

input[type="submit"].outlined:hover,
input[type="reset"].outlined:hover,
input[type="button"].outlined:hover,
button.outlined:hover,
a.button.outlined:hover {
    color: var(--button-outlined-color-hover);
    background: var(--button-outlined-background-hover);
    border-color: var(--button-outlined-border-color-hover);
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
    background: var(--button-background-hover);
    /*border-color: #ff3300;*/

    color: white;
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    background: var(--button-background-hover);
    outline: 1px dotted black;
    outline-offset: 2px;

    color: var(--button-color-hover);
}

input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="button"]:disabled:hover {
    background: #c0c0c0;
    color: #5b5b5b;
    border-color: #c0c0c0;
    cursor: not-allowed;
}


/* ---------------- Checkboxes and radios
*/
input[type="radio"],
input[type="checkbox"] {
    border-width: 0;
    width: auto;
    position: relative;
    margin: 0 7px 0 0;
    top: 0;
}


/* ---------------- Form inline messages
*/
/* input fields with error (class .has-error on a parent, or .is-error on input */
.has-error input[type="email"],
.has-error input[type="file"],
.has-error input[type="image"],
.has-error input[type="password"],
.has-error input[type="search"],
.has-error input[type="text"],
.has-error input[type="url"],
.has-error input[type="tel"],
.has-error input[type="range"],
.has-error input[type="number"],
.has-error input[type="time"],
.has-error input[type="datetime"],
.has-error input[type="datetime-local"],
.has-error input[type="date"],
.has-error input[type="month"],
.has-error input[type="week"],
.has-error input[type="color"],
.has-error select,
.has-error textarea,
input[type="email"].is-error,
input[type="file"].is-error,
input[type="image"].is-error,
input[type="password"].is-error,
input[type="search"].is-error,
input[type="text"].is-error,
input[type="url"].is-error,
input[type="tel"].is-error,
input[type="range"].is-error,
input[type="number"].is-error,
input[type="time"].is-error,
input[type="datetime"].is-error,
input[type="datetime-local"].is-error,
input[type="date"].is-error,
input[type="month"].is-error,
input[type="week"].is-error,
input[type="color"].is-error,
select.is-error,
textarea .is-error {
    border-color: #a80a0a;
    outline: 3px solid #dcad9d;
}

.form-error {
    /*border: 1px solid var(--error-color);*/
    padding: 2px 7px;
    margin-top: 3px;
    /*background: #f5dbdb;*/

    color: var(--error-color);
    font-size: var(--font-size);
}

.form-help {
    color: #808080;
    margin-top: 5px;
}


/* ---------------- Form layout
*/
form {
    margin-bottom: 0;

    p {
        margin: 0;
    }
}


label,
.label,
.form-buttons {
    display: block;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 6px;
}
.form-layout-stacked label:first-child {
    padding-top: 0;
}

.form-wrap-label {}
.form-wrap-inputs {
    /*padding-top: 5px;*/
}

.form-wrap-inputs label,
.form-wrap-inputs .label {
    margin-top: 0;
    margin-bottom: 7px;
}
.form-wrap-inputs label:last-child,
.form-wrap-inputs .label:last-child {
    margin-bottom: 0;
}

.wrap-checkbox,
.wrap-radio {
    margin-bottom: 5px;
}
.wrap-checkbox:last-child,
.wrap-radio:last-child {
    margin-bottom: 0;
}

.wrap-checkbox input,
.wrap-radio input {
    /*display: inline-block;*/
}

.wrap-checkbox label,
.wrap-checkbox div.label,
.wrap-radio label,
.wrap-radio div.label {
    display: inline-block;
    width: auto;
    padding-right: 10px;
    padding-top: 0;
    margin-right: 0;
}

.form-wrap-inputs.inline .label-checkbox,
.form-wrap-inputs.inline .label-radio {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

/* wraps label and input */
.form-group:not(:last-child) {
    margin-bottom: 2rem;
}

/* Extra optional class "form-layout-columns" for layout in two columns on desktop
 */
@media (min-width: 600px) {

    .form-layout-grid .form-group {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr; /* adapt proportion */
        gap: var(--column-gap) var(--row-gap-small);
    }

    .form-layout-grid > label,
    .form-layout-grid > .label {
        margin-top: 0;
        padding-top: 5px; /* to align with field text */
        /*text-align: right; */
    }

    .form-layout-grid .form-group-input {
        grid-column: 2;
    }

    .form-layout-grid .form-position-left {
        /*grid-column: 1 / span 1;*/
        /*grid-column-start: 1;*/
    }

    .form-layout-grid .form-position-right,
    .form-layout-grid .form-error,
    .form-layout-grid .form-description {
        padding-top: 0;
        /*grid-column-start: 2;*/
    }

    .form-layout-grid .form-position-fullwidth {
        /*grid-column: 1 / span 2;*/
    }

    .form-layout-grid .form-buttons {
        /*grid-column-start: 2;*/
        margin-top: 0;
    }

    .form-layout-grid .label-checkbox,
    .form-layout-grid .label-radio,
    .form-layout-grid .label.wrap-checkbox {
        text-align: left; /* when using option */
    }

}

/* inline form, all on one line */
.form-layout-inline label {
    label {
        margin-top: 2rem;
    }
    label:first-child { /* keep as separate rule */
        margin-top: 0;
    }
    input[type="submit"] {
        display: block;
        margin-top: 1rem;
    }
}

@media (min-width: 600px) {

    .form-layout-inline {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;
        gap: 6px;
    }
    .form-layout-inline label {
        margin-top: 0;
        margin-bottom: 0;
    }
    .form-layout-inline input[type="email"],
    .form-layout-inline input[type="text"]{
        width: 200px;
        display: inline-block;
        margin-bottom: 0;
    }
    .form-layout-inline input[type="submit"] {
        display: inline-block;
        margin-top: 0;
    }

}
