/* ---------------- Predefined grids
*/
/* Option 1, single row, any number of columns:
   parent .row, child .column (with optional .span-2...)

   Option 2, one or more rows of children, predefined number of columns:
   parent .row-3-columns, child .column (with optional .span-2...)
*/
.row,
.row-2-columns,
.row-3-columns,
.row-4-columns,
.row-5-columns,
.row-6-columns,
.row-7-columns,
.row-8-columns,
.row-9-columns,
.row-10-columns,
.row-11-columns,
.row-12-columns {
    margin-bottom: 0;
    padding-bottom: var(--row-gap);
}
.column {
    outline: 2px solid orange;
    padding-bottom: var(--row-gap);
    margin-bottom: 0;
}
.column:last-child {
    /*outline: 2px solid orange;*/
    padding-bottom: 0;
}

@media (min-width: 600px) {

    .row,
    .row-2-columns,
    .row-3-columns,
    .row-4-columns,
    .row-5-columns,
    .row-6-columns,
    .row-7-columns,
    .row-8-columns,
    .row-9-columns,
    .row-10-columns,
    .row-11-columns,
    .row-12-columns {
        display: grid;
        gap: var(--row-gap) var(--column-gap);
    }
    .row {
        grid-template-columns: repeat(auto-fit, minmax(0%, 1fr)); /* single row, any number */
    }
    .row-2-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .row-3-columns {
        grid-template-columns: repeat(3, 1fr);
    }
    .row-4-columns {
        grid-template-columns: repeat(4, 1fr);
    }
    .row-5-columns {
        grid-template-columns: repeat(5, 1fr);
    }
    .row-6-columns {
        grid-template-columns: repeat(6, 1fr);
    }
    .row-7-columns {
        grid-template-columns: repeat(7, 1fr);
    }
    .row-8-columns {
        grid-template-columns: repeat(8, 1fr);
    }
    .row-9-columns {
        grid-template-columns: repeat(9, 1fr);
    }
    .row-10-columns {
        grid-template-columns: repeat(10, 1fr);
    }
    .row-11-columns {
        grid-template-columns: repeat(11, 1fr);
    }
    .row-12-columns {
        grid-template-columns: repeat(12, 1fr);
    }
    .column {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .span-1 {
        grid-column: span 1;
    }
    .span-2 {
        grid-column: span 2;
    }
    .span-3 {
        grid-column: span 3;
    }
    .span-4 {
        grid-column: span 4;
    }
    .span-5 {
        grid-column: span 5;
    }
    .span-6 {
        grid-column: span 6;
    }
    .span-7 {
        grid-column: span 7;
    }
    .span-8 {
        grid-column: span 8;
    }
    .span-9 {
        grid-column: span 9;
    }
    .span-10 {
        grid-column: span 10;
    }
    .span-11 {
        grid-column: span 11;
    }
    .span-12 {
        grid-column: span 12;
    }
    .span-full {
        grid-column: 1 / -1;
    }
    .start-at-1 {grid-column-start: 1;}
    .start-at-2 {grid-column-start: 2;}
    .start-at-3 {grid-column-start: 3;}
    .start-at-4 {grid-column-start: 4;}
    .start-at-5 {grid-column-start: 5;}
    .start-at-6 {grid-column-start: 6;}
    .start-at-7 {grid-column-start: 7;}
    .start-at-8 {grid-column-start: 8;}
    .start-at-9 {grid-column-start: 9;}
    .start-at-10 {grid-column-start: 10;}
    .start-at-11 {grid-column-start: 11;}
    .start-at-12 {grid-column-start: 12;}

}
