/*
==============================================
 WEB FONTS
==============================================
*/

/*
==============================================
 CSS VARIABLES
==============================================
*/
:root {
    --font-family: Trebuchet, Arial, Helvetica, sans-serif;
    --font-family-special: var(--font-family); /* For headings etc */
    --font-size: 16px;
    --color: black;

    --heading-font-family: var(--font-family-special);
    --heading-color: var(--color);

    --primary-color: darkred;
    --primary-color-hue: 0;
    --primary-color-saturation: 100%;
    --primary-color-lightness: 55%;
    --primary-color-light: #a12424; /* use HSL from color? */
    --primary-color-dark: #700101;

    --secundary-color: orange;

    --button-color: white;
    --button-background-color: var(--primary-color);
    --button-color-hover: white;
    --button-background-color-hover: var(--primary-color-light);

    --link-color: var(--primary-color);
    --link-background-color: transparent;
    --link-text-decoration: none;
    --link-color-hover: var(--primary-color);
    --link-background-color-hover: transparent;
    --link-text-decoration-hover: underline;

    --border-color: grey;
    --radius: 4px;
    --box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
    --transition: 0.15s all;
    --column-gap: 20px;
}

/*
==============================================
 PAGE LAYOUT
==============================================
*/
html {
    box-sizing: border-box;
    height: 100%;
    /*height: 100vh;*/
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: inherit;    /* Universal Box Sizing with Inheritance */
    -webkit-tap-highlight-color: transparent; /* suppressing the tap highlight */
    -webkit-font-smoothing: antialiased;
}
body {
    min-height: 100%;
    background: #fff;
    margin:0;
    padding:0;
}

/* Shared horizontal page sections */
.page-section > .container {
    padding-left: 20px;
    padding-right: 20px;
}

/* Content layout */

.page-section-content {
    background: #ececec;
}
.page-section-content > .container {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* On desktop */
@media (min-width: 37.5em) {
    .page-section {
        display: flex;
        justify-content: center;
        outline: 1px solid green;
    }
    .page-section > .container {
        width: 980px;
        outline: 1px solid red;
    }
    .page-section-content > .container {
        display: grid;
        grid-template-columns: 70% 27%;
        justify-content: space-between;
        /*gap: 20px;*/
    }
    .content-main {
        grid-column: 1 / span 1;
    }
    .content-sub {
        grid-column: 2 / span 1;
    }

    .content-two-cols {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .content-main.content-full-width {
        grid-column: 1 / span 2;
    }

}

/*
==============================================
 FORM styles, shared
==============================================
*/
form {
    margin-bottom: 0;
    overflow: visible;
}

form:after {    /* clearing any floats */
    content: "";
    display: table;
    clear: both;
}

/* ---------------- Form fonts
*/
label,
.label,
input,
select,
textarea {
    font-size: var(--font-size);
    color: var(--color);
    line-height: 1.4;
}

input {
    margin: 0;
}

/* ---------------- Text input fields
*/
input[type="email"],
input[type="file"],
input[type="image"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input[type="tel"],
input[type="range"],
input[type="number"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="color"],
select,
textarea {
    padding: 5px 6px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 400px;
}

input[type="email"]:focus,
input[type="file"]:focus,
input[type="image"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
    background: #fff;
    border-color: #1c1c1c;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
}

textarea {
    /*display: block;*/
    resize: vertical;
}

textarea[rows] {
    height: auto;
}

/* input icons */
/*input.icon-checked,*/
/*input.icon-close,*/
/*input.icon-plus {*/
/*  background: no-repeat right 10px center;*/
/*}*/

/*input.icon-checked {*/
/*  background-image: url(../img/forms/form-check.png);*/
/*}*/

/*input.icon-close {*/
/*  background-image: url(../img/forms/form-close.png);*/
/*}*/

/*input.icon-plus {*/
/*  background-image: url(../img/forms/form-plus.png);*/
/*}*/



/* Placeholder in input fields (keep as separate rules)
	*/
/*::-webkit-input-placeholder {*/
/*  color: #515151;*/
/*  font-style: normal;*/
/*}*/

/*::-moz-placeholder {*/
/*  color: #515151;*/
/*  opacity: 1;*/
/*  font-style: normal;*/
/*}*/

/*:-ms-input-placeholder {*/
/*  color: #515151;*/
/*  font-style: normal;*/
/*}*/



/* Select/option dropdowns
*/
select {
    border-radius: 0;
}

select,
input[type="file"] {
    height: auto;
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  border-color: #ccc;
  background-color: #eee;
  cursor: not-allowed;
}

.input[invalid]{
    box-shadow: 0 0 0 3px rgba(252, 222, 75, 0.2);
}

/* ---------------- Buttons - default
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button {
    margin: 0;
    padding: 4px 10px 4px;
    width: auto;
    max-width: 100%;
    display: inline-block;
    overflow: visible;
    /* for IE */
    outline: none;
    background: var(--button-background-color);
    /* normal state */
    border: 0px solid #ff3300;
    border-radius: 3px;
    transition: var(--transition);
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: var(--button-color);
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
a.button:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-color-hover);
    /*border-color: #d82b00;*/
    text-decoration: none;
    cursor: pointer;
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
    background-color: #ff3300;
    border-color: #ff3300;
    color: white;
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    background-color: #ff3300;
    border-color: #ff3300;
    color: white;
    outline: 1px dotted black;
    outline-offset: 2px;
}

/* ---------------- Check boxes and radios
*/
input[type="radio"],
input[type="checkbox"] {
    border-width: 0;
    width: auto;
    position: relative;
    margin: 3px 5px 3px 0;
    float: none;
    display: inline;
}

/* ---------------- Other form text
*/
.form-help {
    color: #808080;
    margin-top: 5px;
    margin-bottom: 12px;
}

/* ---------------- Form layout
*/
form {
    margin-bottom: 0;
    overflow: visible;
}

.form-item {
    margin-bottom: 5px;
}

form ul li:after {
    content: "";
    display: table;
    clear: both;
}

form ul li:last-child {
    margin-bottom: 0;
}

@media (min-width: 37.5em) {
    form ul li {
        display: table;
    }
}

fieldset,
li.fieldset {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #D6D6D6;
}

legend,
h3.legend {
    padding: 15px 0;
    font-size: 1.4em;
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-style: normal;
    text-transform: none;
}

label,
div.label {
    display: block;
    vertical-align: top;
    margin-bottom: 2px;
    padding-right: 10px;
    padding-bottom: 3px;
}

input {
    margin-bottom: 15px;
}

@media (min-width: 37.5em) {

}

.wrap-inputs {
    padding-top: 4px;
}

@media (min-width: 37.5em) {

}

.checkbox,
.radio {
    margin-bottom: 5px;
}

.checkbox input,
.radio input {
    display: inline-block;
}

.checkbox label,
.checkbox div.label,
.radio label,
.radio div.label {
    display: inline-block;
    width: auto;
    padding-right: 10px;
    padding-top: 0;
}

.wrap-inputs.inline .checkbox,
.wrap-inputs.inline .radio {
    display: inline-block;
    margin-right: 15px;
}

.recover-password a {
    font-style: italic;
}

.wrap-buttons {
    text-align: right;
}

/* Form layout: stacked elements by default, on mobile */
.form-layout-stacked ul li {
    display: block;
}

.form-layout-stacked label,
.form-layout-stacked div.label {
    display: block;
}

.form-layout-stacked input[type="email"],
.form-layout-stacked input[type="image"],
.form-layout-stacked input[type="password"],
.form-layout-stacked input[type="search"],
.form-layout-stacked input[type="text"],
.form-layout-stacked input[type="url"],
.form-layout-stacked input[type="tel"],
.form-layout-stacked input[type="range"],
.form-layout-stacked input[type="number"],
.form-layout-stacked input[type="time"],
.form-layout-stacked input[type="datetime"],
.form-layout-stacked input[type="datetime-local"],
.form-layout-stacked input[type="date"],
.form-layout-stacked input[type="month"],
.form-layout-stacked input[type="week"],
.form-layout-stacked input[type="color"] {
    display: block;
    width: 80%;
}

.form-layout-stacked .wrap-inputs {
    display: block;
}

/* Form layout: inline, all on one line
*/
.form-layout-inline input[type="email"],
.form-layout-inline input[type="image"],
.form-layout-inline input[type="password"],
.form-layout-inline input[type="search"],
.form-layout-inline input[type="text"],
.form-layout-inline input[type="url"],
.form-layout-inline input[type="tel"],
.form-layout-inline input[type="range"],
.form-layout-inline input[type="number"],
.form-layout-inline input[type="time"],
.form-layout-inline input[type="datetime"],
.form-layout-inline input[type="datetime-local"],
.form-layout-inline input[type="date"],
.form-layout-inline input[type="month"],
.form-layout-inline input[type="week"],
.form-layout-inline input[type="color"] {
    margin-right: 3px;
}

.form-layout-inline input[type="email"],
.form-layout-inline input[type="search"] {
    max-width: 312px;
    /* change */
}

/*
================================
 MESSAGES - Errors, confirmations
================================
*/
/* Shared */
.message {
    border: 1px solid grey;
    background: white;
    color: black;
    margin: 0 0 30px 0;
    padding: 20px;
    font-size: 16px;
}
.message h2, h3, h4, h5, h6, p, li {
    color: inherit;
}
.message ul {
    list-style: circle;
    margin: 0 0 0 10px;
}
.message li {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
/* Error */
.message-error {
    border-color: #d02b2b;
    background: #f6d5d5;
    color: #500404;
}
/* Confirmation */
.message-confirmation {
    border-color: #237523;
    background: #d2e7d2;
    color: #033103;
}

/*
==============================================
 CONTENT - typography, images, etc.
==============================================
*/
body {
    font-size: 62.5%; /* Now use em for other font-sizes: 1em = 10px */
}

body {
    font-family: var(--font-family);
    color: var(--color);
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: var(--font-size);
    line-height: 1.4;
    font-weight: 400;
}

p, dl, ul {
    margin-top: 0;
}

ol p, ul p, ol ol, ul ul, label p, dt p, dd p, table p {
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    color: var(--heading-color);
    line-height: 1.25;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 30px;
    line-height: 1;
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4, h5, h6 {
    font-size: 14px;
    font-weight: normal;
    color: #1c1c1c;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

/* ---------------- Links
*/
a {
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    background: var(--link-background-color);
    transition: var(--transition);
}

a:active, a:focus, a:hover {
    color: var(--link-color-hover);
    text-decoration: var(--link-text-decoration-hover);
    background: var(--link-background-color-hover);
}

/* ---------------- Text specials
*/
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
small {
    font-size: 0.8em;
}

mark {
    background: #FFFF7F;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* ---------------- Lists
*/
ol p, ul p {
    font-size: inherit;
}

ul {
    list-style: disc;
    margin-left: 22px;
    padding-left: 0;
}

ul li {
    margin-left: 0;
    margin-bottom: 12px;
    padding-left: 18px;
}

ul ul {
    margin-bottom: 0;
}

ol {
    margin-left: 0;
}

ol li {
    margin-bottom: 12px;
}

/* Inline (horizontal) list
*/
.list-inline {
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
}

.list-inline:after {
    content: "";
    display: table;
    clear: both;
}

.list-inline > li {
    display: inline-block;
    margin: 0 10px 20px 0;
    padding: 0;
    background: none;
}

.list-inline img {
    display: block;
}

/* list with no bullets, but still vertical
*/
.list-no-bullets {
    margin-left: 0;
    padding-left: 0;
}

.list-no-bullets li {
    margin-left: 0;
    padding-left: 0;
    background: none;
}

/* ---------------- Definition lists
*/
dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 10px;
    margin-left: 0;
}

.dl-horizontal dt {
    float: left;
    clear: left;
    overflow: hidden;
    -moz-text-align-last: right;
    text-align-last: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

.dl-horizontal dd {
    margin-left: 170px;
}

/* ---------------- Images
*/
img,
svg {
    max-width: 100%;
    /* responsive */
    height: auto;
}

img {
    vertical-align: middle;
}

.left {
    float: left;
    margin: 0 15px 5px 0;
}

.right {
    float: right;
    margin: 0 0 5px 15px;
}

/* class on img */
.center {
    display: block;
    margin: 22px auto 22px;
    clear: both;
}

.center img {
    /* class on img container */
    display: block;
    margin: 0 auto;
}

/* img on top of page content */
p:first-child img.center,
header + p img.center {
    margin-top: 0;
}

a img {
    transition: 0.15s all;
}

a:hover img {
    opacity: 0.8;
}

/* ---------------- Horizontal rule
*/
hr {
    clear: both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 1em 0;
    padding: 0;
}

/* ---------------- Tables
*/
table {
    margin-bottom: 10px;
    width: 100%;
}

th,
td {
    padding: 6px 10px 7px 0px;
    border-top: 1px solid #D6D6D6;
}

th {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
}

thead:first-child tr th,
thead:first-child tr td {
    border-top: 0;
}

/* Wrap tables (or pre) elements in a div with this class */
.overflow-container {
    overflow-x: scroll;
}

/*
==============================================
 SITE HEADER
==============================================
*/
.page-section-header {
    border-top: 8px solid var(--primary-color);
}
.page-section-header > .container {
    height: 140px;
    display: flex;
    justify-content: left;
    align-items: center; /* default is stretch */
    gap: 40px;
}

/* ---------------- Site logo
*/
.site-logo a {
  display: block;
}

.site-logo a:hover {
  text-decoration: none;
  background-color: transparent;
}

.site-logo a img {
    width: 40px;
}

.site-logo a:hover img {
  opacity: 1;
}


/* ---------------- Main navigation
*/
/* Todo: add mobile menu with toggle */
.wrap-nav-main {
    /*display: none;*/
}

.nav-main {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
}
.nav-main ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 6px;
}

.nav-main li {
    margin: 0 5px 0 0;
    padding: 0;
    list-style: none;
    background: none;
}

.nav-main a {
    display: inline-block;
    margin: 0;
    padding: 7px 10px;
    background: transparent;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* hover */
.nav-main > li > a:active,
.nav-main > li > a:focus,
.nav-main > li > a:hover,
.nav-main > li:hover > a {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

/* current page / section */
.nav-main > li.current > a {
    color: #000;
    text-decoration: none;
}

/*
==============================================
 SIDEBAR
==============================================
*/


/*
==============================================
 FOOTER
==============================================
*/
.page-section-footer {
}
.footer-legal {
}

/*
==============================================
 Helper classes
==============================================
*/
/* Hide on desktop/mobile
*/
.hide-on-mobile,
.hide-on-tablet {
    display: none;
}

@media (min-width: 37.5em) {
    .hide-on-desktop {
        display: none;
    }
    .hide-on-mobile {
        display: block;
    }
}

@media (min-width: 64em) {
    .hide-on-tablet {
        display: block;
    }
}

/* IOS specifics */
@media screen and (max-width: 769px) {
    /* Absolute measure here */
    body {
        /* Stop iPhone/iPad from scaling text */
        -webkit-text-size-adjust: none;
    }
}

