/*
==============================================
 Typography
==============================================
*/
html {
    font-size: 62.5%;
    /* Now use rem (or em) for other font-sizes: 1rem = 10px */
    /* rem are proportional to this root only; em are proportional to parent, so may cascade... */
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: 400;
}
p:last-child, dd:last-child, li:last-child {
    margin-bottom: 0;
}

ol p, ul p, ol ol, ul ul, label p, dt p, dd p, table p {
    font-size: inherit; /* if using em */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 1em;

    font-family: var(--heading-font-family);
    font-weight: bold;
    line-height: var(--heading-line-height);
    color: var(--heading-color);
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

h4, h5, h6 {
    font-size: 1.4rem;
    font-weight: normal;
    color: #1c1c1c;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: 0;
}

/* ---------------- Links
*/
a {
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    background: var(--link-background);
    transition: var(--transition);
    font-weight: var(--link-font-weight);
}
a:active,
a:focus,
a:hover {
    color: var(--link-color-hover);
    text-decoration: var(--link-text-decoration-hover);
    background: var(--link-background-hover);
}

/* ---------------- Text specials
*/
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
small {
    font-size: 0.8em;
}

mark {
    background: #FFFF7F;
    color: #1c1c1c;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* ---------------- Lists
*/
ul {
    list-style: disc;
    margin-left: 22px;
    padding-left: 0;

    li {
        margin-left: 0;
        margin-bottom: 1.2rem;
        padding-left: 18px;
    }
    ul {
        margin-bottom: 0;
    }
}


ol {
    margin-left: 0;

    li {
        margin-bottom: 1.2rem;
    }
}


/* Inline (horizontal) list
*/
.list-horizontal {
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.list-horizontal > li {
    margin: 0;
    padding: 0;
    background: none;
}

/* list with no bullets, but still vertical
*/
.list-no-bullets {
    margin-left: 0;
    padding-left: 0;

    li {
        margin-left: 0;
        padding-left: 0;
        background: none;
    }
}


/* ---------------- Definition lists
*/
dl{}
dt {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
dd {
    margin-bottom: 1rem;
    margin-left: 0;
}

/* ---------------- Horizontal rule
*/
hr {
    clear: both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: var(--row-gap-large) 0;
    padding: 0;
}